{{#with model}}
<h1>{{model.title}}</h1>
<main>
    <form id="note-input" method="post">
        <input type="text" name="note" placeholder="Enter a new note here!" />
        <input type="number" name="priority" placeholder="Priority" />
        <select name="style">
        <option value="0">Default</option>>
        <option value="1">Red</option>>
        <option value="2">Geltonas</option>>
        <option value="3">Zalias</option>>
        </select>
        <button type="submit">Save</button>
    </form>
    <section>
        {{#each notes}}
        <div class="note {{#if this.style}}style-{{this.style}}{{/if}}" >

            <span class="note-text">{{this.note}}</span>
            <span class="note-priority">Priority: {{this.priority}}</span>
            <div class="buttons">
                <button onclick="editNote({{this.noteId}}, this)" class="standart">
                    <i class="fa-solid fa-pen"></i>
                </button>
                <button onclick="deleteNote({{this.noteId}})" class="standart">
                    <i class="fa-solid fa-circle-xmark"></i>
                </button>
                <button onclick="saveEdit({{this.noteId}}, this)" class="edit hidden">
                    <i class="fa-solid fa-floppy-disk"></i>
                </button>
                <button onclick="undoEdit({{this.noteId}}, this)" class="edit hidden">
                    <i class="fa-solid fa-rotate-left"></i>
                </button>
            </div>

        </div>

        {{/each}}
    </section>
</main>
{{/with}}